/* =================  MODAL ================= */
.backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    z-index: 50;
    transition: opacity 0.9s ease 0s, visibility 0.9s ease 0s;
}

.backdrop.is-hidden {
    /* display: none; якщо використовувати display, то не можна буде анімувати це */
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    padding: 128px;
    max-width: 880px;
    width: 100%;
    height: 880px;
    border-radius: 32px;
    background-color: var(--primary-light-color);
    position: relative;
    @media(max-width:991.98px){
        padding: 120px 70px 70px 70px;
        height: 700px;
    }
    @media(max-width:767.98px){
        padding: 120px 50px 50px 50px;
    }
}


.modal__btn-close {
    position: absolute;
    top: 40px;
    right: 40px;
}

/* ********** input ********** */
.modal__title {
    margin-bottom: 8px;
    text-align: center;
}

.modal__text {
    color: var(--brand-green-color);
    font-weight: 400;
    margin-bottom: 72px;
    text-align: center;
    @media(max-width:991.98px){
        margin-bottom: 50px;
    }
    @media(max-width:767.98px){
        margin-bottom: 30px;
    }
}

.form__field {
    margin-bottom: 32px;

    @media(max-width:991.98px) {
        margin-bottom: 24px;
    }
    @media(max-width:767.98px){
        margin-bottom: 16px;
    }
}

.form__button {
    display: block;
    margin: 0 auto 24px;
}

.form__input {
    padding: 16px 42px;
    border-radius: 8px;
    background-color: transparent;
    border: 1px solid var(--secondary-brown-color);
    line-height: 1.7;
    font-weight: 400;

    @media(max-width:991.98px) {
        padding: 8px 24px;
        font-size: 16px;
    }
}

.form__input::placeholder {
    color: var(--secondary-brown-color);
    font-size: 16px;
    line-height: 1.7;
    font-weight: 400;
}

.form__input:focus {
    border-color: var(--brand-light-green-color);
    outline: none;
}

.form__input:focus::placeholder {
    color: var(--primary-color);
    font-size: 16px;
    line-height: 1.7;
    font-weight: 400;
}

.form__text {
    font-size: 12px;
    line-height: 1.5;
    max-width: 195px;
    margin: 0 auto;
    text-align: center;
}

.form__link {
    text-decoration: underline;
    text-underline-offset: 3px;
}